<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h1>URL Shortener Microservice</h1>
        <h3>
          usage
        </h3>
        <p>
          <u>to shorten an address, use ttps://knotty-headlight.glitch.me/shorten/, followed by the address</u><br/>
          <b>example input:</b> https://knotty-headlight.glitch.me/shorten/https://en.wikipedia.org/wiki/FreeCodeCamp<br/>
          <b>result:</b> {"originalUrl":"https://en.wikipedia.org/wiki/FreeCodeCamp","shortUrl":"H7f"}
        </p>
          <u>using a shortened address</u><br/>
          <b>example input:</b> https://knotty-headlight.glitch.me/H7f<br/>
          <b>redirects to:</b> https://en.wikipedia.org/wiki/FreeCodeCamp
      </div>
   </body>

</html>
